/* Title Style */
.tittle{
    position: relative;
    font-size:30px;
    color: #000000;
    top: -45px;
    right:auto;
    text-align: center;
    font-weight: bold;
    font-style: small-caps bold 24px/1 sans-serif;
    animation: tittle 3s ease-in-out infinite;
}
    @keyframes tittle {
        0%{transorm:translate(-50%,-50%) scale(1)
    
    





}